.topnav {
  overflow: hidden;
  background: #000000cc;
  width: 100%;
  top: 0px;
  position: fixed;
  text-align: center;
  z-index: 10;
}


.topnav .navlink {
  overflow: hidden;
  background: #000000cc;
  width: 100%;
  top: 0px;
  position: fixed;
  text-align: center;
}


.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
  float: left;
  font-family:Verdana;
}

.topnav a:hover {
  background-color: transparent;
  color: white;
  border-bottom: 2px solid gold;
  margin-bottom: 6px;
  font-size: 13px;
  animation-duration: 3s;
}

.active {
  font-weight: bold;
  color: white;
  border-bottom: 2px solid gold;
  margin-bottom: 6px;
}

.topnav .icon {
  display: none !important;
}

@media only screen and (max-width: 1075px) {
  .topnav {
    overflow: hidden;
    background-color: #000000cc;
    position: fixed;
    width: 100%;
    margin: 0px;
    top: 0px;
    padding: 0px;
    text-align: center;
    display: inline-block;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block !important;
  }
  .topnav.responsive .icon {
    position: fixed;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
