#background {
  background-image: url(./img/background10.jpg);
  overflow: auto;
  height: 600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h4{
    font-size: 20px;
}

h3 {
  margin-top: 100px;
  font-size: 40px;
}
#CourseTitle {
  color: white;
  font-size: 20px;
  background-color: transparent;
  text-align: center;
  width: 100%;
  margin-top: 150px;
}

.mainsection {
   text-align: center;
  color: black;
  margin: 30px;
    height: auto;
  margin-left: 24%;
  margin-right: 10%;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  border-radius: 14px;
    width: 50%;
}

.dropdown{
  text-align: center;
}

option {
  text-align: center;
}

.error {color: #FF0000;}

.marks {
  width:45px;
  text-align: center;
}

.table {
  display: table;
  width: 100%;
  height: auto;
}
.row {
  display: table-row;

}
.cellLeft {
  display: table-cell;
  height:100%;
  text-align: right;
  padding-right: 10%;
}

.cellRight {
  display: table-cell;
  height:100%;
  text-align: left;
  padding-left:10%;
}


#CourseTitle {
  color: white;
  font-size: 20px;
  background-color: transparent;
  text-align: center;
  width: 100%;
  margin-top: 150px;
}


.miniheaders{
    color:#2095f2;
   
    font-size: 16px;
}

input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;

}

input[type=text]:focus {
    border-color:#333;
}


input[type=submit]#generate {
    position: relative;
    background-color: #4CAF50;
    font-size: 12px;
    color: #FFFFFF;
    padding: 10px;
    width: 150px;
    text-align: center;
    left: 0%;
      
    
}
input[type=submit] {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    left: 42%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
select {
background-position:300px;
width:300px;
padding:10px;
margin-top:8px;
background-color:#2095f2;
color:white;
font-size:14px;
-webkit-appearance:none;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
outline:none
}

@media screen and (max-width: 860px) {

  #background {
    background-image: url(./img/background10.jpg);
  }
  #mainsection {
  text-align: center;
  color: black;
  margin: 30px;
    height: auto;
  margin-left: 10%;
  margin-right: 10%;
  width:300px;
}
 input[type=submit] {
    left: 34%;
    width: 150px;
     padding: 8px;
    
}
select {
background-position:300px;
width:170px;
padding:10px;
margin-top:8px;
background-color:#2095f2;
color:white;
font-size:14px;

}

}
