#background {
  background-image: url(./img/background8.jpg);
  overflow: auto;
  height: 600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h4{
    font-size: 20px;
    color: darkcyan;
}
#CourseTitle {
  color: white;
  font-size: 20px;
  background-color: transparent;
  text-align: center;
  padding: 10px;
  width: 50%;
  margin-left: 25%;
  margin-top: 150px;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.mainsection {
  text-align: center;
  color: black;
  margin: 30px;
    height: 200px;
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  #border-radius: 25px;
}

.alert {
    top:200px;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.submitbutton {
  text-align: center;
}

.table {
  display: table;
}
.row {
  display: table-row;
}
.cell {
  display: table-cell;
}
